.contact
{
    height: auto;
    width: 70%;
    margin: auto;
}

.contact h1
{
    font-size: 40px;
    text-align: center;
}

.contact p
{
    font-size: 22px;
    text-align: center;
}

.form
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input
{
    width: 400px;
    height: 30px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}