.main
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location
{
    width: 30%;
    height: auto;
    margin-left: 20px;
}



.contact
{
    height: auto;
    width: 55%;
    margin-right: 20px;
    
}

.contact h1 , .location h1
{
    font-size: 40px;
    text-align: center;
}

.contact p
{
    font-size: 22px;
    text-align: center;
}

.form
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select, textarea
{
    width: 330px;
    height: 30px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

select
{
    width: 350px;
    height: 50px;
}

